{% extends 'base.html' %}  
{% load static %}
{% block content %} 

{% if edit_book %}
<img style="width:150px;height:150px" src="{% static 'images/' %}{{ book.image }}" class="card-img-top" alt="...">
<br><hr>
<form action="{% url 'books:edit' book.id %}" method="POST">
    {% csrf_token %}
    
    Title<input type="text" name="name" value="{{ book.name }}"/>
    <br><br>
    Author<input type="text" name="author" value="{{ book.author }}"/>
    <br><br>
    Year Published<input type="date" name="year_published" value="{{ book.year_published|date:'Y-d-m' }}"/>
    <br><br>
    Book type<input type="text" name="typestub" value="{{ book.get_type }}" enabled="false" readonly="true"/>
    <br><br>
    <input type="submit" value="Save">
</form>
<br><br>
<a class="btn btn-info" href="{{ request.META.HTTP_REFERER }} ">Back</a>

{% else %}
 
<img style="width:150px;height:150px" src="{% static 'images/' %}{{ book.image }}" class="card-img-top" alt="...">
<br>
<h1>{{ book.name }} by {{ book.author }}</h1>
<i><h4>Published in {{ book.year_published|date:"Y" }} </h4></i>
<!-- # more tags (example): 
# |truncatechars:3
|timesince
|floatformat:2
-->
<hr>
Book can be loaned for: {{ book.get_status }}
<br><br>
{% if user.is_staff %}
<a class="btn btn-info" href="{% url 'books:edit' book.id %}">Edit Book</a>
<a class="btn btn-danger" onclick="return confirm('are you sure?');"  href="{% url 'books:delete' book.id %}">Delete book</a>
{% endif %}

{% endif %}
{% endblock %}




